<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SkipYourSupper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A7E0FBA1CDF355A00E4AE99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A7E0FD01CDF355A00E4AE99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A7E0FDB1CDF355A00E4AE99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
